{% extends 'shop/basic.html' %}

{%block title%}Products{% endblock %}
{%block body%} 
<br>
<style>
    .vl {
      border-left: 6px solid green;
      height: 500px;
    }
    </style>
   
<div class="row d-flex justify-content-center">
    <div class="col-sm-4 d-flex justify-content-center">
        <img src="/media/{{product.image}}" alt = "..." class="mx-4" style="object-fit: scale-down; max-width: 90%;">
    </div>
    <div class="col-sm-7">
         <h2 style="color: maroon;">{{product.product_name}}</h2>
            
        <span class="form-text">Price :- </span>
        <h4 style="color: maroon;">₹  {{product.price}}</h4>
      
        <h4>Product Description</h4>
        {{product.desc}}
         
    </div>
</div>

{%endblock%}
